In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

In [ ]:
# Read the Excel file

import os

def read_excel_files(start_year=2004, end_year=2024, folder_path="/content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/"):
    for year in range(start_year, end_year + 1):
        # Handle mixed file extensions
        file_xlsx = os.path.join(folder_path, f"kwb-{year}.xlsx")
        file_xls = os.path.join(folder_path, f"kwb-{year}.xls")

        # Determine correct file format
        if os.path.exists(file_xlsx):
            file_path = file_xlsx
        elif os.path.exists(file_xls):
            file_path = file_xls
        else:
            print(f"File for {year} not found, skipping...")
            continue

        try:
            globals()[f"df_{year}"] = pd.read_excel(file_path)  # Create a DataFrame dynamically
            print(f"Successfully read {file_path} into df_{year}")
        except Exception as e:
            print(f"Error reading {file_path}: {e}")

# Example usage
read_excel_files()

Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2004.xlsx into df_2004
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2005.xlsx into df_2005
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2006.xls into df_2006
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2007.xlsx into df_2007
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2008.xlsx into df_2008
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2009.xls into df_2009
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2010.xlsx into df_2010
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2011.xls into df_2011
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2012.xlsx into df_2012
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2013.xls into df_2013
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2014.xls into df_2014
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2015.xlsx into df_2015
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2016.xls into df_2016
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2017.xls into df_2017
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2018.xls into df_2018
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2019.xlsx into df_2019
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2020.xlsx into df_2020
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2021.xlsx into df_2021
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2022.xlsx into df_2022
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2023.xlsx into df_2023
Successfully read /content/drive/MyDrive/DATA ANLYSIS/Housing Crisis project/Kerncijfers wijken en buurten/kwb-2024.xlsx into df_2024

In [ ]:
# add column jaar to each data frame

for year in range(2004, 2025):
    df_name = f'df_{year}'
    if df_name in globals():  # Check if the dataframe exists
        globals()[df_name]['jaar'] = year

In [ ]:
print(df_2007['jaar'].head(10))

0    2007
1    2007
2    2007
3    2007
4    2007
5    2007
6    2007
7    2007
8    2007
9    2007
Name: jaar, dtype: int64

In [ ]:
df_2007.columns.tolist()

['CODE_10POS07',
 'GWB_CODE07',
 'GWB_NAAM07_60pos',
 'GWB_NAAM07_40pos',
 'RECS',
 'GM_CODE',
 'WK_CODE',
 'BU_CODE',
 'GM_NAAM',
 'POSTCODE',
 'DEK_PERC',
 'OAD',
 'STED',
 'AANT_INW',
 'AANT_MAN',
 'AANT_VROUW',
 'P_00_14_JR',
 'P_15_24_JR',
 'P_25_44_JR',
 'P_45_64_JR',
 'P_65_EO_JR',
 'P_WEST_AL',
 'P_N_W_AL',
 'P_TURKIJE',
 'P_MAROKKO',
 'P_SURINAM',
 'P_ANT_ARU',
 'P_OVER_NW',
 'AANTAL_HH',
 'P_EENP_HH',
 'P_HH_Z_K',
 'P_HH_M_K',
 'GEM_HH_GR',
 'BEV_DICHTH',
 'GEBOO_TOT',
 'P_GEBOO',
 'STERT_TOT',
 'P_STERFT',
 'WONINGEN',
 'WOZ',
 'P_STU_HO',
 'P_WP_TOT',
 'P_WP_ZELFS',
 'P_WP_AUT',
 'P_WP_WEST',
 'P_WP_N_W',
 'P_WP_LANDB',
 'P_WP_INDUS',
 'P_WP_COTOT',
 'P_WP_HANDE',
 'P_WP_OV_CO',
 'P_WP_NCTOT',
 'P_WP_OND',
 'P_WP_GEZON',
 'P_WP_OV_NC',
 'P_WP_ONBEK',
 'AANT_INK',
 'INK_INW',
 'INK_ONTV',
 'P_LAAG_INK',
 'P_HOOG_INK',
 'P_NIET_ACT',
 'P_PENS_ONT',
 'P_UIT_ONTV',
 'P_UIT_O_L1',
 'WWB_UITTOT',
 'P_WWB_UIT',
 'WWB_UITMUT',
 'AO_UIT_TOT',
 'P_AO_UIT',
 'AGRA_BEDR',
 'AGRA_MUT',
 'P_GEWASSEN',
 'P_VEETEELT',
 'P_COMBI',
 'BEDR_TOT',
 'P_INDUSTRI',
 'P_COM_DV',
 'P_N_COM_DV',
 'AUTO_TOT',
 'AUTO_HH',
 'AUTO_LAND',
 'BEDR_AUTO',
 'MOTOR_2W',
 'AF_ARTSPR',
 'AV3_ARTSPR',
 'AF_ARTSPO',
 'AF_ZIEK_E',
 'AV20ZIEK_E',
 'AF_KDV',
 'AV3_KDV',
 'AF_ONDBAS',
 'AV3_ONDBAS',
 'AF_ONDVMB',
 'AV5_ONDVMB',
 'AF_ONDHV',
 'AV5_ONDHV',
 'AF_BIBLIO',
 'AF_OPRITH',
 'AF_TREINST',
 'OPP_TOT',
 'OPP_LAND',
 'OPP_WATER',
 'jaar']

In [ ]:
# check various columns persence in data frames
def check_columns_presence(columns_to_check, start_year=2004, end_year=2024):
    column_presence = {col: [] for col in columns_to_check}  # Dictionary to store results

    for year in range(start_year, end_year + 1):
        df_name = f"df_{year}"
        if df_name in globals():  # Check if DataFrame exists
            df = globals()[df_name]  # Retrieve the DataFrame
            for col in columns_to_check:
                if col in df.columns:
                    column_presence[col].append(year)  # Store year if column exists

    # Print results
    for col, years in column_presence.items():
        if years:
            print(f"Column '{col}' exists in: {years}")
        else:
            print(f"Column '{col}' is NOT found in any DataFrame.")

# Example usage
check_columns_presence(["GM_NAAM",'GEM_NAAM', "gm_naam","GWB_NAAM04_40pos", "GWB_NAAM05_40pos", "GWB_NAAM06_40pos", "GWB_NAAM07_40pos", "GWB_NAAM08_40pos", "GWB_NAAM09_40pos","GWB_NAAM10_40pos", "GWB_NAAM11_40pos", "GWB_NAAM12_40POS", 'regio', \
                        'RECS', "recs", 'AANT_INW', 'a_inw', "WONINGEN", "a_woning", 'AANTAL_HH', 'a_hh', 'GEM_HH_GR', 'g_hhgro',\
                         'BEV_DICHTH', 'bev_dich', "WOZ", "woningwaarde", "g_wozbag", "g_woz", "P_WONT2000", "p_bjj2k", "P_WONV2000",  "p_bjo2k", \
                        'P_ELEK_TOT', 'g_ele', 'P_ELEK_APP', 'g_ele_ap', 'P_ELEK_TUS', 'g_ele_tw', 'P_ELEK_HOE', 'g_ele_hw', 'P_ELEK_21K', 'g_ele_2w', 'P_ELEK_VRY', 'g_ele_vw', 'g_ele_hu', 'g_ele_ko', \
                        'P_ELEK_ONB',\
                        'P_GAS_TOT', 'g_gas', 'P_GAS_APP', 'g_gas_ap', 'P_GAS_TUS', 'g_gas_tw', 'P_GAS_HOEK', 'P_GAS_HOE','g_gas_hw', 'P_GAS_21K', 'g_gas_2w', 'P_GAS_VRY', 'g_gas_vw', 'g_gas_hu', 'g_gas_ko',\
                        'P_STADVERW',  'p_stadsv',\
                        "INK_ONTV", "INK_ONTV2", "g_ink_po", 'INK_INW',  'INK_INW2', 'g_ink_pi'])

#P_WONT2000 - Het aantal woningen dat VOOR het jaar 2000 is opgenomen in het Woningregister, uitgedrukt in hele procenten van het totaal aantal woningen
#p_bjj2k - Het aantal woningen met bouwjaar VOOR 2000, uitgedrukt in hele procenten van het totaal aantal woningen
#p_bjo2k - Het aantal woningen met bouwjaar 2000 of LATER, uitgedrukt in hele procenten van het totaal aantal woningen
#P_WONV2000 - Het aantal woningen dat in of NA het jaar 2000 is opgenomen in het Woningregister, uitgedrukt in hele procenten van het totaal aantal woningen

Column 'GM_NAAM' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011]
Column 'GEM_NAAM' exists in: [2012]
Column 'gm_naam' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'GWB_NAAM04_40pos' exists in: [2004]
Column 'GWB_NAAM05_40pos' exists in: [2005]
Column 'GWB_NAAM06_40pos' exists in: [2006]
Column 'GWB_NAAM07_40pos' exists in: [2007]
Column 'GWB_NAAM08_40pos' exists in: [2008]
Column 'GWB_NAAM09_40pos' exists in: [2009]
Column 'GWB_NAAM10_40pos' exists in: [2010]
Column 'GWB_NAAM11_40pos' exists in: [2011]
Column 'GWB_NAAM12_40POS' exists in: [2012]
Column 'regio' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'RECS' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'recs' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'AANT_INW' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'a_inw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'WONINGEN' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'a_woning' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'AANTAL_HH' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'a_hh' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'GEM_HH_GR' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'g_hhgro' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'BEV_DICHTH' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012]
Column 'bev_dich' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'WOZ' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011]
Column 'woningwaarde' exists in: [2012]
Column 'g_wozbag' exists in: [2020, 2021, 2022, 2023, 2024]
Column 'g_woz' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019]
Column 'P_WONT2000' exists in: [2009, 2010, 2011, 2012]
Column 'p_bjj2k' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
Column 'P_WONV2000' exists in: [2009, 2010, 2011, 2012]
Column 'p_bjo2k' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
Column 'P_ELEK_TOT' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_ele' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_APP' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_ele_ap' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_TUS' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_ele_tw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_HOE' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_ele_hw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_21K' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_ele_2w' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_VRY' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_ele_vw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_ele_hu' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_ele_ko' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_ONB' exists in: [2004, 2006, 2008, 2009, 2010, 2011]
Column 'P_GAS_TOT' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_gas' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_APP' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_gas_ap' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_TUS' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_gas_tw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_HOEK' exists in: [2004, 2006, 2008, 2009, 2010]
Column 'P_GAS_HOE' exists in: [2011, 2012]
Column 'g_gas_hw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_21K' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_gas_2w' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_VRY' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'g_gas_vw' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_gas_hu' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_gas_ko' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_STADVERW' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012]
Column 'p_stadsv' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'INK_ONTV' exists in: [2004, 2005, 2006, 2007]
Column 'INK_ONTV2' exists in: [2009, 2010, 2011, 2012]
Column 'g_ink_po' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'INK_INW' exists in: [2004, 2005, 2006, 2007]
Column 'INK_INW2' exists in: [2009, 2010, 2011, 2012]
Column 'g_ink_pi' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [ ]:
# Rename columns

def batch_rename_columns(start_year, end_year, rename_map):
    for year in range(start_year, end_year + 1):
        df_name = f"df_{year}"
        df = globals().get(df_name)
        if df is not None:
            for variants, new_name in rename_map.items():
                for old_col in variants:
                    if old_col in df.columns:
                        df.rename(columns={old_col: new_name}, inplace=True)
                        break  # Stop after first match to avoid overwriting

#-----------------------------------------------
# Define column rename mapping
# Each key is a tuple of possible old column names
rename_dict = {
    ("GM_NAAM", "GEM_NAAM"): "gm_naam",
    ("GWB_NAAM04_40pos", "GWB_NAAM05_40pos", "GWB_NAAM06_40pos", "GWB_NAAM07_40pos", "GWB_NAAM08_40pos", "GWB_NAAM09_40pos","GWB_NAAM10_40pos", "GWB_NAAM11_40pos", "GWB_NAAM12_40POS"): "regio",
    ("RECS",): "recs",
    ("AANT_INW",): "a_inw",
    ("WONINGEN",): "a_woning",
    ("AANTAL_HH",): "a_hh",
    ("P_WONT2000", "p_bjj2k"): "pw_vo2k",
    ("P_WONV2000", "p_bjo2k"): "pw_na2k",
    ("GEM_HH_GR",): "g_hhgro",
    ("BEV_DICHTH",): "bev_dich",
    ("WOZ", "woningwaarde", "g_wozbag"): "g_woz",
    ("INK_ONTV", "INK_ONTV2"): "g_ink_po",
    ("INK_INW", "INK_INW2"): "g_ink_pi",
    #-----------------------------
    ("P_ELEK_TOT",): "g_ele",
    ("P_ELEK_APP",): "g_ele_ap",
    ("P_ELEK_TUS",): "g_ele_tw",
    ("P_ELEK_HOE",): "g_ele_hw",
    ("P_ELEK_21K",): "g_ele_2w",
    ("P_ELEK_VRY",): "g_ele_vw",
    ("P_GAS_TOT",): "g_gas",
    ("P_GAS_APP",): "g_gas_ap",
    ("P_GAS_TUS",): "g_gas_tw",
    ("P_GAS_HOEK", "P_GAS_HOE"): "g_gas_hw",
    ("P_GAS_21K",): "g_gas_2w",
    ("P_GAS_VRY",): "g_gas_vw",
    #-----------------------------
    ("P_STADVERW",): "p_stadsv",
}

#-----------------------------------------------
# Run it!
batch_rename_columns(2004, 2024, rename_dict)

In [ ]:
# check various columns persence in data frames
def check_columns_presence(columns_to_check, start_year=2004, end_year=2024):
    column_presence = {col: [] for col in columns_to_check}  # Dictionary to store results

    for year in range(start_year, end_year + 1):
        df_name = f"df_{year}"
        if df_name in globals():  # Check if DataFrame exists
            df = globals()[df_name]  # Retrieve the DataFrame
            for col in columns_to_check:
                if col in df.columns:
                    column_presence[col].append(year)  # Store year if column exists

    # Print results
    for col, years in column_presence.items():
        if years:
            print(f"Column '{col}' exists in: {years}")
        else:
            print(f"Column '{col}' is NOT found in any DataFrame.")

# Example usage
check_columns_presence(["GM_NAAM",'GEM_NAAM', "gm_naam","GWB_NAAM04_40pos", "GWB_NAAM05_40pos", "GWB_NAAM06_40pos", "GWB_NAAM07_40pos", "GWB_NAAM08_40pos", "GWB_NAAM09_40pos","GWB_NAAM10_40pos", "GWB_NAAM11_40pos", "GWB_NAAM12_40POS", 'regio', \
                        'RECS', "recs", 'AANT_INW', 'a_inw', "WONINGEN", "a_woning", 'AANTAL_HH', 'a_hh', 'GEM_HH_GR', 'g_hhgro',\
                         'BEV_DICHTH', 'bev_dich', "WOZ", "woningwaarde", "g_wozbag", "g_woz", "P_WONT2000", "p_bjj2k", "P_WONV2000",  "p_bjo2k", 'pw_vo2k', 'pw_na2k',\
                        'P_ELEK_TOT', 'g_ele', 'P_ELEK_APP', 'g_ele_ap', 'P_ELEK_TUS', 'g_ele_tw', 'P_ELEK_HOE', 'g_ele_hw', 'P_ELEK_21K', 'g_ele_2w', 'P_ELEK_VRY', 'g_ele_vw', 'g_ele_hu', 'g_ele_ko', \
                        'P_ELEK_ONB',\
                        'P_GAS_TOT', 'g_gas', 'P_GAS_APP', 'g_gas_ap', 'P_GAS_TUS', 'g_gas_tw', 'P_GAS_HOEK', 'P_GAS_HOE','g_gas_hw', 'P_GAS_21K', 'g_gas_2w', 'P_GAS_VRY', 'g_gas_vw', 'g_gas_hu', 'g_gas_ko',\
                        'P_STADVERW',  'p_stadsv',\
                        "INK_ONTV", "INK_ONTV2", "g_ink_po", 'INK_INW',  'INK_INW2', 'g_ink_pi'])

Column 'GM_NAAM' is NOT found in any DataFrame.
Column 'GEM_NAAM' is NOT found in any DataFrame.
Column 'gm_naam' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'GWB_NAAM04_40pos' is NOT found in any DataFrame.
Column 'GWB_NAAM05_40pos' is NOT found in any DataFrame.
Column 'GWB_NAAM06_40pos' is NOT found in any DataFrame.
Column 'GWB_NAAM07_40pos' is NOT found in any DataFrame.
Column 'GWB_NAAM08_40pos' is NOT found in any DataFrame.
Column 'GWB_NAAM09_40pos' is NOT found in any DataFrame.
Column 'GWB_NAAM10_40pos' is NOT found in any DataFrame.
Column 'GWB_NAAM11_40pos' is NOT found in any DataFrame.
Column 'GWB_NAAM12_40POS' is NOT found in any DataFrame.
Column 'regio' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'RECS' is NOT found in any DataFrame.
Column 'recs' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'AANT_INW' is NOT found in any DataFrame.
Column 'a_inw' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'WONINGEN' is NOT found in any DataFrame.
Column 'a_woning' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'AANTAL_HH' is NOT found in any DataFrame.
Column 'a_hh' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'GEM_HH_GR' is NOT found in any DataFrame.
Column 'g_hhgro' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'BEV_DICHTH' is NOT found in any DataFrame.
Column 'bev_dich' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'WOZ' is NOT found in any DataFrame.
Column 'woningwaarde' is NOT found in any DataFrame.
Column 'g_wozbag' is NOT found in any DataFrame.
Column 'g_woz' exists in: [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_WONT2000' is NOT found in any DataFrame.
Column 'p_bjj2k' is NOT found in any DataFrame.
Column 'P_WONV2000' is NOT found in any DataFrame.
Column 'p_bjo2k' is NOT found in any DataFrame.
Column 'pw_vo2k' exists in: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
Column 'pw_na2k' exists in: [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
Column 'P_ELEK_TOT' is NOT found in any DataFrame.
Column 'g_ele' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_APP' is NOT found in any DataFrame.
Column 'g_ele_ap' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_TUS' is NOT found in any DataFrame.
Column 'g_ele_tw' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_HOE' is NOT found in any DataFrame.
Column 'g_ele_hw' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_21K' is NOT found in any DataFrame.
Column 'g_ele_2w' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_VRY' is NOT found in any DataFrame.
Column 'g_ele_vw' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_ele_hu' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_ele_ko' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_ELEK_ONB' exists in: [2004, 2006, 2008, 2009, 2010, 2011]
Column 'P_GAS_TOT' is NOT found in any DataFrame.
Column 'g_gas' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_APP' is NOT found in any DataFrame.
Column 'g_gas_ap' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_TUS' is NOT found in any DataFrame.
Column 'g_gas_tw' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_HOEK' is NOT found in any DataFrame.
Column 'P_GAS_HOE' is NOT found in any DataFrame.
Column 'g_gas_hw' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_21K' is NOT found in any DataFrame.
Column 'g_gas_2w' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_GAS_VRY' is NOT found in any DataFrame.
Column 'g_gas_vw' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_gas_hu' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'g_gas_ko' exists in: [2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'P_STADVERW' is NOT found in any DataFrame.
Column 'p_stadsv' exists in: [2004, 2006, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'INK_ONTV' is NOT found in any DataFrame.
Column 'INK_ONTV2' is NOT found in any DataFrame.
Column 'g_ink_po' exists in: [2004, 2005, 2006, 2007, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Column 'INK_INW' is NOT found in any DataFrame.
Column 'INK_INW2' is NOT found in any DataFrame.
Column 'g_ink_pi' exists in: [2004, 2005, 2006, 2007, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [ ]:
# Desired columns
cols_to_keep = ["gm_naam", "recs", "regio", "bev_dich", "a_inw", "a_woning", 'a_hh', "g_hhgro", "g_woz",  "g_ink_po", 'g_ink_pi', 'pw_vo2k', 'pw_na2k',\
                'g_ele', 'g_ele_ap', 'g_ele_tw', 'g_ele_hw', 'g_ele_2w', 'g_ele_vw', 'g_ele_hu', 'g_ele_ko',\
                'g_gas', 'g_gas_ap', 'g_gas_tw', 'g_gas_hw', 'g_gas_2w', 'g_gas_vw', 'g_gas_hu', 'g_gas_ko',\
                'p_stadsv', "jaar"]

# Container for filtered dataframes
df_list = []

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)

    if df is not None:
        df = df.copy()  # to avoid modifying original
        df["year"] = year  # ensure the 'year' column exists
        # Only keep columns that are in the current df
        existing_cols = [col for col in cols_to_keep if col in df.columns]
        df_filtered = df[existing_cols]
        df_list.append(df_filtered)

# Concatenate all years into one dataframe
combined_df = pd.concat(df_list, ignore_index=True)

In [ ]:
combined_df.head(10)

,gm_naam,recs,regio,bev_dich,a_inw,a_woning,a_hh,g_hhgro,g_woz,g_ink_po,...,g_gas_2w,g_gas_vw,p_stadsv,jaar,pw_vo2k,pw_na2k,g_ele_hu,g_ele_ko,g_gas_hu,g_gas_ko
0,NaN,NaN,Nederland,481,16258030,6809580,7049280,"2,3",134,"17,7",...,2200,2800,4,2004,NaN,NaN,NaN,NaN,NaN,NaN
1,Appingedam,Gemeente,Appingedam,521,12420,5630,5530,"2,2",76,"16,2",...,2000,2450,0,2004,NaN,NaN,NaN,NaN,NaN,NaN
2,Appingedam,Wijk,Wijk 00,521,12420,5630,5530,"2,2",76,"16,2",...,2000,2450,0,2004,NaN,NaN,NaN,NaN,NaN,NaN
3,Appingedam,Buurt,Appingedam-Centrum,2935,2440,1340,1300,"1,9",72,"16,7",...,2300,2750,0,2004,NaN,NaN,NaN,NaN,NaN,NaN
4,Appingedam,Buurt,Appingedam-West,2134,3240,1275,1280,"2,5",106,"18,6",...,2000,2200,0,2004,NaN,NaN,NaN,NaN,NaN,NaN
5,Appingedam,Buurt,Appingedam-Oost,2215,6330,2855,2790,"2,2",63,"15,1",...,1900,2600,0,2004,NaN,NaN,NaN,NaN,NaN,NaN
6,Appingedam,Buurt,Verspr. huizen Damsterdiep en Eemskanaal,27,150,60,60,"2,6",115,x,...,2550,2350,0,2004,NaN,NaN,NaN,NaN,NaN,NaN
7,Appingedam,Buurt,Verspr. huizen ten zuiden van Eemskanaal,19,110,45,40,"2,5",121,x,...,x,2450,0,2004,NaN,NaN,NaN,NaN,NaN,NaN
8,Appingedam,Buurt,Verspr. h. ten N. van het Damsterdiep,20,150,55,60,"2,4",116,x,...,2050,2900,0,2004,NaN,NaN,NaN,NaN,NaN,NaN
9,Bedum,Gemeente,Bedum,243,10820,4160,4170,"2,5",101,"16,7",...,2000,2550,0,2004,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#calculates the percentage of missing (null) values for each column
null_percentage_df = combined_df.isnull().sum() / len(combined_df) * 100
null_percentage_df

gm_naam      0.002708
recs         0.002407
regio        0.000000
bev_dich     0.000000
a_inw        0.000000
a_woning     0.000000
a_hh         0.000000
g_hhgro      0.000000
g_woz        0.000000
g_ink_po     4.348205
g_ink_pi     4.348205
g_ele        8.610066
g_ele_ap     8.610066
g_ele_tw     8.610066
g_ele_hw     8.610066
g_ele_2w     8.610066
g_ele_vw     8.610066
g_gas        8.610066
g_gas_ap     8.610066
g_gas_tw     8.610066
g_gas_hw     8.610066
g_gas_2w     8.610066
g_gas_vw     8.610066
p_stadsv     8.610066
jaar         0.000000
pw_vo2k     27.045940
pw_na2k     27.045940
g_ele_hu    39.271037
g_ele_ko    39.271037
g_gas_hu    39.271037
g_gas_ko    39.271037
dtype: float64

In [ ]:
#Fill all NaN values in combined_df with 0
combined_df = combined_df.fillna(0)

In [ ]:
print(combined_df.dtypes)

gm_naam     object
recs        object
regio       object
bev_dich    object
a_inw        int64
a_woning    object
a_hh        object
g_hhgro     object
g_woz       object
g_ink_po    object
g_ink_pi    object
g_ele       object
g_ele_ap    object
g_ele_tw    object
g_ele_hw    object
g_ele_2w    object
g_ele_vw    object
g_gas       object
g_gas_ap    object
g_gas_tw    object
g_gas_hw    object
g_gas_2w    object
g_gas_vw    object
p_stadsv    object
jaar         int64
pw_vo2k     object
pw_na2k     object
g_ele_hu    object
g_ele_ko    object
g_gas_hu    object
g_gas_ko    object
dtype: object

In [ ]:
# combined_df['g_ele_ap'].value_counts(dropna=False, sort=False)

In [ ]:
# unique_strings = combined_df.loc[combined_df['g_gas_hw'].apply(lambda x: isinstance(x, str)), 'g_gas_hw'].unique()
# print(unique_strings)

In [ ]:
cols_to_convert = ['a_woning', 'pw_vo2k', 'pw_na2k', 'a_hh', "g_hhgro", "bev_dich", "g_woz", "g_ink_po", 'g_ink_pi',\
                'g_ele', 'g_ele_ap', 'g_ele_tw', 'g_ele_hw', 'g_ele_2w', 'g_ele_vw', 'g_ele_hu', 'g_ele_ko',\
                'g_gas', 'g_gas_ap', 'g_gas_tw', 'g_gas_hw', 'g_gas_2w', 'g_gas_vw', 'g_gas_hu', 'g_gas_ko',\
                'p_stadsv']

# Creating new table. Strip whitespace before replacing
combofin_424 = combined_df.copy()

for col in cols_to_convert:
    if combined_df[col].dtype == "object":
        # Start with a fresh string version
        combofin_424[col] = combined_df[col].astype(str).str.strip().str.lower()

        # Replace commas with dots
        combofin_424[col] = combofin_424[col].str.replace(',', '.', regex=False)

        # Replace standalone "." with 0
        combofin_424[col] = combofin_424[col].replace(r'^\.$', '0', regex=True)

        # Remove trailing dot with no decimals (e.g., "47." → "47")
        combofin_424[col] = combofin_424[col].str.replace(r'^(\d+)\.$', r'\1', regex=True)

         # Remove trailing commas (e.g., "22.2," → "22.2")
        combofin_424[col] = combofin_424[col].str.replace(r',\s*$', '', regex=True)

        # Replace "x" with a placeholder (e.g., "0" or keep as NaN later)
        combofin_424[col] = combofin_424[col].replace(['x', '-', 'X'], '0')

        # Convert to numeric
        combofin_424[col] = pd.to_numeric(combofin_424[col], errors='coerce')
    else:
        # If it's already numeric, just copy it over
        combofin_424[col] = combined_df[col]


# Check if the replacement and conversion worked
print(combofin_424[cols_to_convert].head())

   a_woning  pw_vo2k  pw_na2k     a_hh  g_hhgro  bev_dich  g_woz  g_ink_po  \
0   6809580        0        0  7049280      2.3       481    134      17.7
1      5630        0        0     5530      2.2       521     76      16.2
2      5630        0        0     5530      2.2       521     76      16.2
3      1340        0        0     1300      1.9      2935     72      16.7
4      1275        0        0     1280      2.5      2134    106      18.6

   g_ink_pi  g_ele  ...  g_ele_ko  g_gas  g_gas_ap  g_gas_tw  g_gas_hw  \
0      12.2   3250  ...         0   1700      1150      1550      1850
1      11.5   2850  ...         0   1850      1400      1650      1850
2      11.5   2850  ...         0   1850      1400      1650      1850
3      13.6   2500  ...         0   1800      1450      1400      1650
4      12.3   3350  ...         0   1900      1100      1600      1800

   g_gas_2w  g_gas_vw  g_gas_hu  g_gas_ko  p_stadsv
0      2200      2800         0         0       4.0
1      2000      2450         0         0       0.0
2      2000      2450         0         0       0.0
3      2300      2750         0         0       0.0
4      2000      2200         0         0       0.0

[5 rows x 26 columns]

In [ ]:
#calculates the percentage of missing (null) values for each column
null_per_df = combofin_424.isnull().sum() / len(combofin_424) * 100
null_per_df

gm_naam     0.0
recs        0.0
regio       0.0
bev_dich    0.0
a_inw       0.0
a_woning    0.0
a_hh        0.0
g_hhgro     0.0
g_woz       0.0
g_ink_po    0.0
g_ink_pi    0.0
g_ele       0.0
g_ele_ap    0.0
g_ele_tw    0.0
g_ele_hw    0.0
g_ele_2w    0.0
g_ele_vw    0.0
g_gas       0.0
g_gas_ap    0.0
g_gas_tw    0.0
g_gas_hw    0.0
g_gas_2w    0.0
g_gas_vw    0.0
p_stadsv    0.0
jaar        0.0
pw_vo2k     0.0
pw_na2k     0.0
g_ele_hu    0.0
g_ele_ko    0.0
g_gas_hu    0.0
g_gas_ko    0.0
dtype: float64

In [ ]:
#Fill all NaN values in combofin_424 with 0
combofin_424 = combofin_424.fillna(0)

In [ ]:
print(combofin_424.dtypes)

gm_naam      object
recs         object
regio        object
bev_dich      int64
a_inw         int64
a_woning      int64
a_hh          int64
g_hhgro     float64
g_woz         int64
g_ink_po    float64
g_ink_pi    float64
g_ele         int64
g_ele_ap      int64
g_ele_tw      int64
g_ele_hw      int64
g_ele_2w      int64
g_ele_vw      int64
g_gas         int64
g_gas_ap      int64
g_gas_tw      int64
g_gas_hw      int64
g_gas_2w      int64
g_gas_vw      int64
p_stadsv    float64
jaar          int64
pw_vo2k       int64
pw_na2k       int64
g_ele_hu      int64
g_ele_ko      int64
g_gas_hu      int64
g_gas_ko      int64
dtype: object

In [ ]:
#pd.set_option('display.max_rows', None)
#print(combofin_424['pw_vo2k'].value_counts(dropna=False, sort=False))

In [ ]:
#pd.set_option('display.max_rows', None)
#print(combofin_424['pw_na2k'].value_counts(dropna=False, sort=False))

In [ ]:
print(combofin_424[combofin_424["jaar"] == 2022].head(5
                                                      ))

          gm_naam      recs             regio  bev_dich     a_inw  a_woning  \
277961  Nederland      Land         Nederland       523  17590672   8045580
277962  Groningen  Gemeente         Groningen      1266    234950    120703
277963  Groningen      Wijk           Centrum     10094     23065     12928
277964  Groningen     Buurt  Binnenstad-Noord     12085      4480      2343
277965  Groningen     Buurt   Binnenstad-Zuid     12037      6630      3685

           a_hh  g_hhgro  g_woz  g_ink_po  ...  g_gas_2w  g_gas_vw  p_stadsv  \
277961  8138591      2.1    317      37.4  ...      1270      1650       6.5
277962   138499      1.7    251      33.0  ...      1300      1730       3.6
277963    18300      1.2    244      25.7  ...      2230      2460       3.7
277964     3635      1.2    247      23.8  ...         0         0       0.0
277965     5375      1.2    251      24.1  ...      2650      2560       0.0

        jaar  pw_vo2k  pw_na2k  g_ele_hu  g_ele_ko  g_gas_hu  g_gas_ko
277961  2022       82       18      2020      3080       760      1130
277962  2022       82       18      1810      2550       790      1120
277963  2022       86       14      1830      2340       830      1100
277964  2022       95        5      1980      2380       930      1350
277965  2022       96        4      1900      2500       890      1260

[5 rows x 31 columns]

In [ ]:
combofin_424.to_csv("combenergy_424", index=False)

# Old code

In [ ]:
# Old column renaming

# Rename column Gemeentenaam
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and "GM_NAAM" in df.columns:
        df.rename(columns={"GM_NAAM": "gm_naam"}, inplace=True)

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and "GEM_NAAM" in df.columns:
        df.rename(columns={"GEM_NAAM": "gm_naam"}, inplace=True)

#-------------------------------------------------------------------

# Rename column 'RECS'
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'RECS' in df.columns:
        df.rename(columns={'RECS': "recs"}, inplace=True)

# Rename column aantal inwoners
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and "AANT_INW" in df.columns:
        df.rename(columns={"AANT_INW": "a_inw"}, inplace=True)

# Rename column woningen
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and "WONINGEN" in df.columns:
        df.rename(columns={"WONINGEN": "a_woning"}, inplace=True)

# Rename column aantal Huishoudens
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'AANTAL_HH' in df.columns:
        df.rename(columns={'AANTAL_HH': 'a_hh'}, inplace=True)

# Rename column aantal woningen vóór 2000 "P_WONT2000", "p_bjj2k"
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_WONT2000' in df.columns:
        df.rename(columns={'P_WONT2000': 'pw_vo2k'}, inplace=True)

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'p_bjj2k' in df.columns:
        df.rename(columns={'p_bjj2k': 'pw_vo2k'}, inplace=True)

# Rename column aantal woningen na 2000 "P_WONV2000",  "p_bjo2k"
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_WONV2000' in df.columns:
        df.rename(columns={'P_WONV2000': 'pw_na2k'}, inplace=True)

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'p_bjo2k' in df.columns:
        df.rename(columns={'p_bjo2k': 'pw_na2k'}, inplace=True)

#-------------------------------------------------------------------



# Rename column "Gemiddelde huishoudensgrootte"
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'GEM_HH_GR' in df.columns:
        df.rename(columns={'GEM_HH_GR': 'g_hhgro'}, inplace=True)

# Rename column "Bevolkingsdichtheid"
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'BEV_DICHTH' in df.columns:
        df.rename(columns={'BEV_DICHTH': 'bev_dich'}, inplace=True)

# Rename column woz
woz_variants = ["WOZ", "woningwaarde", "g_wozbag"]
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None:
        for col in woz_variants:
            if col in df.columns:
                df.rename(columns={col: "g_woz"}, inplace=True)

# Rename column Gemiddeld inkomen per ontvager "INK_ONTV", "INK_ONTV2", "g_ink_po"
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'INK_ONTV' in df.columns:
        df.rename(columns={'INK_ONTV': 'g_ink_po'}, inplace=True)

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'INK_ONTV2' in df.columns:
        df.rename(columns={'INK_ONTV2': 'g_ink_po'}, inplace=True)

# Rename column Gemiddeld inkomen per inwoner 'INK_INW', 'INK_INW2', 'g_ink_pi'
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'INK_INW' in df.columns:
        df.rename(columns={'INK_INW': 'g_ink_pi'}, inplace=True)

for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'INK_INW2' in df.columns:
        df.rename(columns={'INK_INW2': 'g_ink_pi'}, inplace=True)

#-------------------------------electricity------------------------------------


# Rename column "Gemiddeld elektriciteitsverbruik"
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_ELEK_TOT' in df.columns:
        df.rename(columns={'P_ELEK_TOT': 'g_ele'}, inplace=True)

# Rename column gemiddeld elektriciteitsverbruik appartement
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_ELEK_APP' in df.columns:
        df.rename(columns={'P_ELEK_APP': 'g_ele_ap'}, inplace=True)

# Rename column gemiddeld elektriciteitsverbruik Tussenwoning [kWh]
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_ELEK_TUS' in df.columns:
        df.rename(columns={'P_ELEK_TUS': 'g_ele_tw'}, inplace=True)

# Rename column gemiddeld elektriciteitsverbruik Hoekwoning [kWh]'P_ELEK_HOE', 'g_ele_hw'
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_ELEK_HOE' in df.columns:
        df.rename(columns={'P_ELEK_HOE': 'g_ele_hw'}, inplace=True)

# Rename column gemiddeld elektriciteitsverbruik Twee-onder-één-kap-woning [kWh]'P_ELEK_21K', 'g_ele_2w',
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_ELEK_21K' in df.columns:
        df.rename(columns={'P_ELEK_21K': 'g_ele_2w'}, inplace=True)

# Rename column gemiddeld elektriciteitsverbruik Vrijstaande woning [kWh] 'P_ELEK_VRY', 'g_ele_vw',
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_ELEK_VRY' in df.columns:
        df.rename(columns={'P_ELEK_VRY': 'g_ele_vw'}, inplace=True)



#-------------------------------gas------------------------------------

# Rename column gemiddeld aardgasverbruik totaal [m3]'P_GAS_TOT', 'g_gas'
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_GAS_TOT' in df.columns:
        df.rename(columns={'P_GAS_TOT': 'g_gas'}, inplace=True)

# Rename column gemiddeld aardgasverbruik Appartement [m3] 'P_GAS_APP', 'g_gas_ap'
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_GAS_APP' in df.columns:
        df.rename(columns={'P_GAS_APP': 'g_gas_ap'}, inplace=True)

# Rename column gemiddeld Tussenwoning 'P_GAS_TUS', 'g_gas_tw',
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_GAS_TUS' in df.columns:
        df.rename(columns={'P_GAS_TUS': 'g_gas_tw'}, inplace=True)

# Rename column gemiddeld Hoekwoning 'P_GAS_HOEK', 'g_gas_hw'
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_GAS_HOEK' in df.columns:
        df.rename(columns={'P_GAS_HOEK': 'g_gas_hw'}, inplace=True)

# Rename column gemiddeld  Twee-onder-één-kap-woning  'P_GAS_21K', 'g_gas_2w'
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_GAS_21K' in df.columns:
        df.rename(columns={'P_GAS_21K': 'g_gas_2w'}, inplace=True)

# Rename column gemiddeld  Vrijstaande woning 'P_GAS_VRY', 'g_gas_vw',
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_GAS_VRY' in df.columns:
        df.rename(columns={'P_GAS_VRY': 'g_gas_vw'}, inplace=True)

#__________________________________________________________________

# Rename column Percentage woningen met stadsverwarming 'P_STADVERW',  'p_stadsv'
for year in range(2004, 2025):
    df_name = f"df_{year}"
    df = globals().get(df_name)
    if df is not None and 'P_STADVERW' in df.columns:
        df.rename(columns={'P_STADVERW': 'p_stadsv'}, inplace=True)